<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puppy Love</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <a href="/">Home</a>
    <span> &hearts; </span>
    <a href="/dogs">View All Dogs</a>
    <span> &hearts; </span>
    <a href="/dogs/new">Add Puppy</a>
    <span> &hearts; </span>

    <%if logged_in?%>

        Logged in as: <%=current_user['user_name']%>

        <form action="/session" method="post">
            <input type="hidden" name="_method" value="delete">
            <button>logout</button>
        </form>

    <%else%>
        <a href="/login/new">Create Account</a>
        <span> &hearts; </span>
        <a href="/login">Login</a>
    <%end%>


    <%=yield%>

    
</body>
<footer>
    <h3>&hearts;&hearts;&hearts;</h3>
    &hearts;&hearts;&hearts; &copy 2022 Puppy Love Marketing &hearts;&hearts;&hearts;
</footer>
</html>