

<h1>Please enter your Login Details</h1>

<form action="/session" method="post">

    <label>Email</label>
    <input type="email">

    <label>Password</label>
    <input type="password">

    <button>Login</button>

</form>