

<h1>Please enter your Login Details</h1>

<form action="/session" method="post">

    <label>Email</label>
    <input name="email" type="text" onkeypress="return (event.keyCode !== 39) && (event.keyCode !== 34)">

    <label>Password</label>
    <input name="password" type="password" onkeypress="return (event.keyCode !== 39) && (event.keyCode !== 34)">

    <button>Login</button>

</form>