<h1>Add dog who is ready for love</h1>


<form action="/">

    <section class='new_dog_details'>

        <label>Name</label>
        <input type="text" name='name'>

        <label>Image URL</label>
        <input type="text" placeholder='http...' name='image_url'>

        <label>Age</label>
        <input type="integer" name='age'>

        <label>Location</label>
        <input type="text" name='location'>

        <label>Likes</label>
        <input type="text" name='likes'>

        <label>Dislikes</label>
        <input type="text" name='dislikes'>

        <label>Bio</label>
        <input type="text" name='bio'>

        <button>Submit</button>

    </section>

</form>