<h1>Add dog who is ready for love</h1>


<form action="/dogs" method="post" enctype="multipart/form-data">

    <section class='dog_details'>

        <label>Name:</label>
        <input type="text" name='name' onkeypress="return (event.keyCode !== 39) && (event.keyCode !== 34)" required>

        <label>Image:</label>
        <input type="file" name='image_url' required>

        <label>Age:</label>
        <input type="number" name='age' required>

        <label>Location:</label>
        <input type="text" name='location' onkeypress="return (event.keyCode !== 39) && (event.keyCode !== 34)" required>

        <label>Likes:</label>
        <input type="text" name='likes' onkeypress="return (event.keyCode !== 39) && (event.keyCode !== 34)" required>

        <label>Dislikes:</label>
        <input type="text" name='dislikes' onkeypress="return (event.keyCode !== 39) && (event.keyCode !== 34)" required>

        <label>Bio:</label>
        <input type="text" maxlength="50" name='bio' onkeypress="return (event.keyCode !== 39) && (event.keyCode !== 34)" required>
    </section>
    <button class="new_submit_button">Submit</button>

</form>